<div class="page-push-nav">
  <ul>
    <li class="page-push-nav-heading">
        <%= link_to 'About', "#about" %>
    </li>
    <li class="page-push-nav-heading">
        <%= link_to 'Film & Television', "#projects" %>
    </li>
    <li class="page-push-nav-heading">
        <%= link_to 'Licensing', "#licensing" %>
    </li>
    <li class="page-push-nav-heading">
        <%= link_to 'Studio', "#studio" %>
    </li>
    <li class="page-push-nav-heading">
        <%= link_to 'Contact', "#contact" %>
    </li>
  </ul>
</div>