<div class="page-push-nav">
  <ul>
    <li class="page-push-nav-heading">
    	<%= link_to 'Studio', "#{config[:site_url]}/studio" %>
    </li>
    <li>
    	<%= link_to 'About', "#{config[:site_url]}/studio/#about" %>
    </li>
    <li>
    	<%= link_to 'Booking', "#{config[:site_url]}/studio/#booking" %>
    </li>
    <li>
        <%= link_to 'Equipment', "#{config[:site_url]}/studio/#equipment" %>
    </li>
    <li>
    	<%= link_to 'Clients', "#{config[:site_url]}/studio/#clients" %>
    </li>
    <li>
        <%= link_to 'Policy', "#{config[:site_url]}/studio/policy" %>
    </li>
    <li class="page-push-nav-heading">
        <%= link_to 'Licensing', "#{config[:site_url]}/licensing" %>
    </li>
    <li class="page-push-nav-heading">
        <%= link_to 'Composition', "#{config[:site_url]}/composition" %>
    </li>
  </ul>
</div>