---
title: STUDIO - MINBAL
---

<section class="hero" id="about">
	<h2 class="h2">Studio</h2>
	<img src="https://s3.amazonaws.com/minbal/studio/console.jpg" alt=""/>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container minbal">
	<div class="content-container-body">
		<h3 class="h3">MINBAL</h3>
		<div class="inner">
			<p>MINBAL is a music production and recording studio owned and operated by Benjamin Balcom in Chicago, Illinois.</p>
			<p>We offer a creative and comfortable environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools we offer analog recording and the studio has a variety of instruments and equipment all of which is available for use during your session.</p>
			<p>Please take a look at our booking information and feel free to contact us if you have any additional questions, would like to inquire about availability or want to set up a time to tour the studio.</p>
		</div>
		<aside>
			<ul>
				<li>
					<h3>Phone</h3>
					(773) 263-6291
				</li>
				<li>
					<h3>Location</h3>
					800 N Sacramento
					Chicago, IL 60622
				</li>
				<li>
					<h3>BOOKING:</h3>
					<a href="mailto:doug@minbal.com">doug@minbal.com</a>
				</li>
				<li>
					<h3>CONTACT:</h3>
					<a href="mailto:info@minbal.com">info@minbal.com</a>
				</li>
			</ul>
		</aside>
	</div>
</section>

<section class="hero" id="booking">
	<img src="https://s3.amazonaws.com/minbal/studio/console.jpg" alt=""/>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container booking">
	<div class="content-container-body">
		<h3 class="h3">BOOKING</h3>
		<div class="inner">
			<p>Freelance engineers are welcome. Assistants are available for $100/day or $50/half-day.</p>
			<p>Rates are based on 10 hour days. Half-days should run no longer than 5 hours.</p>
			<p>We require a 50% deposit or payment in full to book studio time. A discount will be applied if you choose to pay in full when you book your session. Rates for paying in full are $225 per day or $155 per half-day. We are able to hold dates for a short time in order to confirm potential dates prior to booking.</p>
			<p>Additional fees are charged for use of the tape machines. The fees are $25/day for the use of the Scully 280 and a $15/day for use of the Ampex AG-440. Please notify us in advance if you will need tape for your session or inquire about studio reels for use in tracking basics or for mixdown if you are interested.</p>
			<p>For booking please contact our studio manager Doug Malone: <a href="mailto:doug@minbal.com">doug@minbal.com</a></p>
		</div>
		<aside>
			<ul>
				<li>
					$250 per day
				</li>
				<li>
					$165 per half-day
				</li>
			</ul>			
		</aside>
	</div>
</section>

<section class="hero" id="projects">
	<img src="https://s3.amazonaws.com/minbal/studio/console.jpg" alt=""/>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container">
	<div class="content-container-body">
		<h3 class="h3">PROJECTS</h3>
		<div class="inner projects">
			<div>
				<input type="checkbox" name="panel" id="panel_1_d1" />
				<label class="label" for="panel_1_d1">Artists</label>
				<ul class="projects-list collapsible">
				  <% data.projects.artists.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_2_d1" />
				<label class="label" for="panel_2_d1">Labels</label>
				<ul class="projects-list collapsible">
				  <% data.projects.labels.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_3_d1" />
				<label class="label" for="panel_3_d1">Film</label>
				<ul class="projects-list collapsible">
				  <% data.projects.film.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="content-container">
	<div class="content-container-body">
		<h3 class="h3">GEAR</h3>
		<div class="inner projects">
			<div>
				<input type="checkbox" name="panel" id="panel_4_d1" />
				<label class="label" for="panel_4_d1">Mixing</label>
				<ul class="projects-list collapsible">
				  <% data.gear.mixing.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_5_d1" />
				<label class="label" for="panel_5_d1">Monitoring</label>
				<ul class="projects-list collapsible">
				  <% data.gear.monitoring.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_6_d1" />
				<label class="label" for="panel_6_d1">Software</label>
				<ul class="projects-list collapsible">
				  <% data.gear.software.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_7_d1" />
				<label class="label" for="panel_7_d1">Recorders</label>
				<ul class="projects-list collapsible">
				  <% data.gear.recorders.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_8_d1" />
				<label class="label" for="panel_8_d1">Conversions/Sync</label>
				<ul class="projects-list collapsible">
				  <% data.gear.conversions.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
		</div>
	</div>
</section>
