---
title: Studio - MINBAL
---

<section class="hero primary">
	<h1 class="h2">Studio</h1>
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/studio/optimized/bass_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original="https://s3.amazonaws.com/minbal/studio/optimized/bass_bw_mobile.jpg" alt="Bass Rig"/>
	</picture>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container minbal" id="about">
	<div class="content-container-body">
		<h3 class="h3">MINBAL</h3>
		<div class="inner">
			<p>MINBAL offers a creative and comfortable recording environment consisting of four acoustically isolated rooms tied together with connections for audio, MIDI and video signals. MINBAL features a Pro Tools|HD 2 Accel system with 24 channels of Apogee 192k I/O wired into a Quad Eight Ventura console. In addition to Pro Tools, the studio incorporates analog recording and a variety of instruments and equipment, all available for use during sessions.</p>

			<p>Please take a look at our <%= link_to 'booking information', "#{config[:site_url]}/studio/booking" %> and contact <a href="mailto:doug@minbal.com">Doug Malone</a> if you have questions, would like to inquire about availability or want to set up a time to 	tour the studio.</p> 
		</div>
		<aside>
			<ul>
				<li>
					<h3>Phone</h3>
					(773) 263-6291
				</li>
				<li>
					<h3>Location</h3>
					800 N Sacramento
					Chicago, IL 60622
				</li>
				<li>
					<h3>BOOKING:</h3>
					<a href="mailto:doug@minbal.com">doug@minbal.com</a>
				</li>
				<li>
					<h3>CONTACT:</h3>
					<a href="mailto:info@minbal.com">info@minbal.com</a>
				</li>
			</ul>
		</aside>
	</div>
</section>

<section class="hero control-room">
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/studio/optimized/controlroom_bw_desktop.jpg" media="(min-width: 800px)" />
		<img data-original="https://s3.amazonaws.com/minbal/studio/optimized/controlroom_bw_mobile.jpg" alt="Control Room"/>
	</picture>
	<span class="continue-arrow">
		<i class="fa fa-chevron-down"></i>
	</span>
</section>

<section class="content-container" id="equipment">
	<div class="content-container-body">
		<h3 class="h3">EQUIPMENT</h3>
		<div class="inner studio-list-container">
			<div>
				<input type="checkbox" name="panel" id="panel_4_d1" />
				<label class="label" for="panel_4_d1">Mixing</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.mixing.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_5_d1" />
				<label class="label" for="panel_5_d1">Monitoring</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.monitoring.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_6_d1" />
				<label class="label" for="panel_6_d1">Software</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.software.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_7_d1" />
				<label class="label" for="panel_7_d1">Recorders</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.recorders.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_8_d1" />
				<label class="label" for="panel_8_d1">Conversions/Sync</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.conversions.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_9_d1" />
				<label class="label" for="panel_9_d1">Signal Processing</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.signal.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_10_d1" />
				<label class="label" for="panel_10_d1">Microphones Preamps</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.preamps.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_11_d1" />
				<label class="label" for="panel_11_d1">Microphones Direct</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.microphones.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_12_d1" />
				<label class="label" for="panel_12_d1">Instruments/Amplifiers</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.gear.instruments.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="hero console">
	<picture>
		<source data-original-set="https://s3.amazonaws.com/minbal/studio/optimized/console_bw_desktop.jpg" media="(min-width: 800px)">
		<img data-original-set="https://s3.amazonaws.com/minbal/studio/optimized/console_bw_mobile.jpg" alt="Console"/>
	</picture>	
</section>

<section class="content-container" id="clients">
	<div class="content-container-body">
		<h3 class="h3">CLIENTS</h3>
		<div class="inner studio-list-container">
			<div>
				<input type="checkbox" name="panel" id="panel_1_d1" />
				<label class="label" for="panel_1_d1">Artists</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.clients.artists.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_2_d1" />
				<label class="label" for="panel_2_d1">Labels</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.clients.labels.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
			<div>
				<input type="checkbox" name="panel" id="panel_3_d1" />
				<label class="label" for="panel_3_d1">Film</label>
				<ul class="studio-list-container-list collapsible">
				  <% data.clients.film.each do |f| %>
				  	<li><%= f %></li>
				  <% end %>
				</ul>
			</div>
		</div>
	</div>
</section>